body {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	height: 100vh;
	align-items: center;
	justify-items: center;
	font-family: 'VT323', monospace;
	margin: 0;
	color: #3cac49;
	background-color: #000;
	font-size: 14px;

}

input:focus {
	outline: none;
}

.block {
	display: grid;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: center;
	padding: 0px 50px;
	box-sizing: border-box;
}

#mainStory {
	background-color: #275c42;
	text-align: center;
}

#responseBlok {
	color: #f0a835;
	background-color: #9e2836;
}

#typeHere {
	background-color: #262b44;
	border: 5px #665743 solid;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	color: #124e89;
	font-family: 'VT323', monospace;
}

.typed-cursor {
	display: none;
}